# Build artifacts
/build/
/cmake-build-*/
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib
*.pdb
*.pch
*.ilk
*.manifest
*.rsp
*.idb
*.mod
*.exp
*.log
*.tmp
*.cache
*.cmake
CTestTestfile.cmake
Testing/

# IDE files
.idea/
.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.*
*.user
*.opensdf
*.sdf
*.suo
*.ncb
*.db
*.DS_Store

# Python venv
venv/

# OS files
Thumbs.db
.DS_Store

# Other
*.swp
*.bak
*.old
*.orig

.idea/
cmake-build-debug-visual-studio/
cmake-build-release-visual-studio/
CTestTestfile.cmake
error.txt
log_analysis.txt
cpp.hint
doc.odt


tests/CMakeFiles/
tests/cmake_install.cmake
tests/CTestTestfile.cmake
tests/*.vcxproj*
tests/RUN_TESTS.vcxproj*

**/venv/
**/.venv/
**/__pycache__/
**/.pytest_cache/

**/Testing/
**/Testing/Temporary/
**/CMakeFiles/
**/cmake_install.cmake
**/CTestTestfile.cmake 

examples/

tests/Memory_leak_stress_test_py/

# VCPKG
vcpkg_installed
vcpkg-configuration.json

# Third-party libraries (submodules)
# third_party/  # Commented out to allow submodules
